In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import sklearn
print(sklearn.__version__)

1.5.2

In [3]:
!pip install feature_engine==1.6.2

Requirement already satisfied: feature_engine==1.6.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.6.2)
Requirement already satisfied: numpy>=1.18.2 in /home/codespace/.local/lib/python3.12/site-packages (from feature_engine==1.6.2) (2.1.2)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from feature_engine==1.6.2) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from feature_engine==1.6.2) (1.5.2)
Requirement already satisfied: scipy>=1.4.1 in /home/codespace/.local/lib/python3.12/site-packages (from feature_engine==1.6.2) (1.14.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from feature_engine==1.6.2) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.3->feature_engine==1.6.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.3->feature_engine==1.6.2) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.3->feature_engine==1.6.2) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=1.0.0->feature_engine==1.6.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=1.0.0->feature_engine==1.6.2) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from statsmodels>=0.11.1->feature_engine==1.6.2) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels>=0.11.1->feature_engine==1.6.2) (24.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.3->feature_engine==1.6.2) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [4]:
df_ori = pd.read_csv('https://raw.githubusercontent.com/Vincentim27/data/refs/heads/main/beverages.csv')
df_ori

,Product ID,Sales Volume (L),Product Category,Price per Liter (IDR),Advertising Spend (USD),Number of Retailers,Temperature (°C),Holiday Season,Market Share (%),Competitor Price per Liter (IDR)
0,101,25795,Energy Drink,29371,8629,592,21.721954,0,6.1,18711
1,102,10860,Water,36142,8628,677,34.122994,1,8.9,35860
2,103,48158,Soda,14693,17288,636,31.763093,1,5.7,28134
3,104,21284,Water,13991,16431,620,26.935868,1,4.9,25261
4,105,16265,Soda,20154,16883,467,32.974439,1,6.3,16960
...,...,...,...,...,...,...,...,...,...,...
995,1096,29256,Juice,40849,17602,681,23.632620,0,4.8,34736
996,1097,45840,Juice,28287,8786,409,21.095054,0,5.4,16804
997,1098,44622,Water,35174,14256,610,31.160429,1,5.1,36686
998,1099,47430,Water,44762,9200,551,30.665014,1,7.3,43923
999,1100,49282,Water,16339,19212,404,23.517492,0,3.7,37559

In [5]:
df = df_ori.copy()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Product ID                        1000 non-null   int64
 1   Sales Volume (L)                  1000 non-null   int64
 2   Product Category                  1000 non-null   object
 3   Price per Liter (IDR)             1000 non-null   int64
 4   Advertising Spend (USD)           1000 non-null   int64
 5   Number of Retailers               1000 non-null   int64
 6   Temperature (°C)                  1000 non-null   float64
 7   Holiday Season                    1000 non-null   int64
 8   Market Share (%)                  1000 non-null   float64
 9   Competitor Price per Liter (IDR)  1000 non-null   int64
dtypes: float64(2), int64(7), object(1)
memory usage: 78.3+ KB

In [7]:
#check dataset - 2

df.describe().T

,count,mean,std,min,25%,50%,75%,max
Product ID,1000.0,600.500000,288.819436,101.000000,350.750000,600.500000,850.250000,1100.000000
Sales Volume (L),1000.0,29382.829000,11786.744449,10009.000000,18716.750000,29259.000000,38735.500000,49976.000000
Price per Liter (IDR),1000.0,28561.014000,9509.768162,12106.000000,20153.000000,28910.000000,36528.250000,44980.000000
Advertising Spend (USD),1000.0,12491.809000,4252.822442,5006.000000,8727.000000,12469.000000,16353.250000,19973.000000
Number of Retailers,1000.0,551.600000,85.262464,400.000000,475.750000,552.000000,621.000000,699.000000
Temperature (°C),1000.0,27.203567,4.375909,20.002798,23.389352,27.025778,31.016128,34.964342
Holiday Season,1000.0,0.531000,0.499288,0.000000,0.000000,1.000000,1.000000,1.000000
Market Share (%),1000.0,5.876800,2.366572,2.000000,3.800000,5.900000,7.900000,10.000000
Competitor Price per Liter (IDR),1000.0,28344.559000,9571.931238,11304.000000,20508.250000,28496.000000,36471.250000,44991.000000

In [8]:
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['Product_ID', 'Sales_Volume_(L)', 'Product_Category',
       'Price_per_Liter_(IDR)', 'Advertising_Spend_(USD)',
       'Number_of_Retailers', 'Temperature_(°C)', 'Holiday_Season',
       'Market_Share_(%)', 'Competitor_Price_per_Liter_(IDR)'],
      dtype='object')

In [9]:
new_data = pd.DataFrame({'Product_ID':[1001,1002,1003,1004,1005],
            'Sales_Volume_(L)':[2000, np.nan,1500,1800,2200],
            'Product_Category':['Water',np.nan,'Energy Drink',np.nan,np.nan],
            'Price_per_Liter_(IDR)':[5000,np.nan,np.nan,np.nan,np.nan],
            'Advertising_Spend_(USD)':[10000,12000,np.nan,np.nan,np.nan],
            'Number_of_Retailers':[300,np.nan,np.nan,np.nan,np.nan],
            'Temperature_(°C)':[22.2,np.nan,np.nan,np.nan,np.nan],
            'Holiday_Season':[1,0,0,1,1],
            'Market_Share_(%)':[2.2,np.nan,np.nan,np.nan,np.nan],
            'Competitor_Price_per_Liter_(IDR)':[7000,np.nan,np.nan,np.nan,np.nan],
            })

df = df._append(new_data, ignore_index=True)
df.tail()

,Product_ID,Sales_Volume_(L),Product_Category,Price_per_Liter_(IDR),Advertising_Spend_(USD),Number_of_Retailers,Temperature_(°C),Holiday_Season,Market_Share_(%),Competitor_Price_per_Liter_(IDR)
1000,1001,2000.0,Water,5000.0,10000.0,300.0,22.2,1,2.2,7000.0
1001,1002,NaN,NaN,NaN,12000.0,NaN,NaN,0,NaN,NaN
1002,1003,1500.0,Energy Drink,NaN,NaN,NaN,NaN,0,NaN,NaN
1003,1004,1800.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
1004,1005,2200.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN

In [10]:
df.tail()

,Product_ID,Sales_Volume_(L),Product_Category,Price_per_Liter_(IDR),Advertising_Spend_(USD),Number_of_Retailers,Temperature_(°C),Holiday_Season,Market_Share_(%),Competitor_Price_per_Liter_(IDR)
1000,1001,2000.0,Water,5000.0,10000.0,300.0,22.2,1,2.2,7000.0
1001,1002,NaN,NaN,NaN,12000.0,NaN,NaN,0,NaN,NaN
1002,1003,1500.0,Energy Drink,NaN,NaN,NaN,NaN,0,NaN,NaN
1003,1004,1800.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
1004,1005,2200.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN

In [11]:
x = df.drop(['Holiday_Season'], axis=1)
y = df['Holiday_Season']

In [12]:
x

,Product_ID,Sales_Volume_(L),Product_Category,Price_per_Liter_(IDR),Advertising_Spend_(USD),Number_of_Retailers,Temperature_(°C),Market_Share_(%),Competitor_Price_per_Liter_(IDR)
0,101,25795.0,Energy Drink,29371.0,8629.0,592.0,21.721954,6.1,18711.0
1,102,10860.0,Water,36142.0,8628.0,677.0,34.122994,8.9,35860.0
2,103,48158.0,Soda,14693.0,17288.0,636.0,31.763093,5.7,28134.0
3,104,21284.0,Water,13991.0,16431.0,620.0,26.935868,4.9,25261.0
4,105,16265.0,Soda,20154.0,16883.0,467.0,32.974439,6.3,16960.0
...,...,...,...,...,...,...,...,...,...
1000,1001,2000.0,Water,5000.0,10000.0,300.0,22.200000,2.2,7000.0
1001,1002,NaN,NaN,NaN,12000.0,NaN,NaN,NaN,NaN
1002,1003,1500.0,Energy Drink,NaN,NaN,NaN,NaN,NaN,NaN
1003,1004,1800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,1005,2200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
y

0       0
1       1
2       1
3       1
4       1
       ..
1000    1
1001    0
1002    0
1003    1
1004    1
Name: Holiday_Season, Length: 1005, dtype: int64

In [20]:
df.isnull().sum()

Product_ID                          0
Sales_Volume_(L)                    1
Product_Category                    3
Price_per_Liter_(IDR)               4
Advertising_Spend_(USD)             3
Number_of_Retailers                 4
Temperature_(°C)                    4
Holiday_Season                      0
Market_Share_(%)                    4
Competitor_Price_per_Liter_(IDR)    4
dtype: int64

### Spit between numerical and categorical columns

In [14]:
x.columns

Index(['Product_ID', 'Sales_Volume_(L)', 'Product_Category',
       'Price_per_Liter_(IDR)', 'Advertising_Spend_(USD)',
       'Number_of_Retailers', 'Temperature_(°C)', 'Market_Share_(%)',
       'Competitor_Price_per_Liter_(IDR)'],
      dtype='object')

In [15]:
num_col = ['Product_ID', 'Sales_Volume_(L)',
    'Price_per_Liter_(IDR)', 'Advertising_Spend_(USD)',
    'Number_of_Retailers', 'Temperature_(°C)', 'Market_Share_(%)',
    'Competitor_Price_per_Liter_(IDR)']

cat_col = ['Product_Category']

### Cardinality handling

In [19]:
for i in cat_col:
  print(f'Jumlah unique value dari kolom {i}: {x[i].nunique()}')
  print(f'Jumlah unique value dari kolom {i}: {x[i].unique()}')

Jumlah unique value dari kolom Product_Category: 4
Jumlah unique value dari kolom Product_Category: ['Energy Drink' 'Water' 'Soda' 'Juice' nan]

In [22]:
## Split between train and test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 40)
print('Train Size: ', X_train.shape)
print('Test Size: ', X_test.shape)

Train Size:  (804, 9)
Test Size:  (201, 9)

In [23]:
X_train

,Product_ID,Sales_Volume_(L),Product_Category,Price_per_Liter_(IDR),Advertising_Spend_(USD),Number_of_Retailers,Temperature_(°C),Market_Share_(%),Competitor_Price_per_Liter_(IDR)
656,757,42201.0,Soda,21011.0,16796.0,667.0,34.053918,5.7,38301.0
721,822,46034.0,Energy Drink,16991.0,17952.0,580.0,20.887656,6.2,42741.0
928,1029,35053.0,Juice,40237.0,6636.0,506.0,33.832879,4.4,41792.0
899,1000,38173.0,Juice,22056.0,7895.0,668.0,24.341613,5.8,33396.0
675,776,29198.0,Energy Drink,17243.0,6815.0,463.0,29.794594,8.8,33941.0
...,...,...,...,...,...,...,...,...,...
440,541,13373.0,Energy Drink,43666.0,17236.0,447.0,32.893346,2.4,36641.0
165,266,36736.0,Juice,15966.0,6829.0,682.0,24.115769,4.6,12046.0
7,108,31962.0,Juice,19234.0,17871.0,538.0,32.841987,9.5,14335.0
219,320,21835.0,Soda,16022.0,17364.0,618.0,20.145303,5.6,34574.0
326,427,23403.0,Soda,29191.0,13125.0,506.0,21.399072,3.8,33390.0

In [24]:
num_col = []
cat_col = []
print(f'Numerical columns:\n{num_col}')
print(f'Categorical columns:\n{cat_col}')

Numerical columns:
[]
Categorical columns:
[]

In [28]:
X_train.isnull().mean()

Product_ID                          0.000000
Sales_Volume_(L)                    0.001244
Product_Category                    0.003731
Price_per_Liter_(IDR)               0.004975
Advertising_Spend_(USD)             0.003731
Number_of_Retailers                 0.004975
Temperature_(°C)                    0.004975
Market_Share_(%)                    0.004975
Competitor_Price_per_Liter_(IDR)    0.004975
dtype: float64

In [27]:
X_test.isnull().mean()

Product_ID                          0.0
Sales_Volume_(L)                    0.0
Product_Category                    0.0
Price_per_Liter_(IDR)               0.0
Advertising_Spend_(USD)             0.0
Number_of_Retailers                 0.0
Temperature_(°C)                    0.0
Market_Share_(%)                    0.0
Competitor_Price_per_Liter_(IDR)    0.0
dtype: float64

In [31]:
y_test.isnull().sum().mean()

np.float64(0.0)

In [32]:
y_train.isnull().sum().mean()

np.float64(0.0)

In [37]:
X_train['Number_of_Retailers'].skew()

np.float64(-0.03257504825760068)

# EDA

Silakan lihat referensi di pertemuan 4 dan 5.

# Feature Engineering